<h1>ユーザーマイページ</h1>

<div class="box5">
<div class="user">
<div class="gazou">
<p><%= image_tag current_user.picture.to_s, :class =>"gazou" %></p>
</div>
<p>名前：<%= @user.name %></p>
<p>年齢：<%= @user.age %></p>
<p>性別：
<% if @user.gender == 1 %>
男性
<% elsif @user.gender == 2 %>
女性
<% end %>
</p>
<p>職業：<%= @user.job %></p>
<p>自己紹介：<%= @user.introduction %></p>
</div>
</div>

<div class="padding">
<%= link_to "編集する", edit_user_registration_path(id: current_user.id) %>
</div>
